<!DOCTYPE html>
<html>

<head>
    <title>About Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}

    <img class="potrait" src="/img/photo.jpg">
    <p>{{text}}</p>

    {{>footer}}
</body>

</html>