<!DOCTYPE html>
<html>
    <head>
        <title>Help Page</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        
        <img class="potrait" src="/img/Help-pic.webp">
        <p>{{message}}</p>

        {{>footer}}
    </body>
</html>