<!DOCTYPE html>
<html>

<head>
    <title>About Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}

    <p>{{forecast}}</p>
    <p>{{location}}</p>

    {{>footer}}
</body>

</html>